node_modules
.env
coverage
coverage.json
typechain
typechain-types
package-lock.json

#Hardhat files
cache
artifacts


node_modules
.env
.DS_Store
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

package-lock.json
contracts/Tem.sol
contracts/Starknet
scripts/deployCairo.js
scripts/deployExercise4.js

docs/初审修改反馈.md